

<div id="content" class="container">     
    <div class="row justify-content-center">
        <div  class="col-md-6 col-lg-5">
            <div class="card mx-auto">
                <div class="card-img-container">
                    <img src="images/bicycles.png" alt="Temperatura">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Temperatura</h5>
                    <p class="card-text">23°C</p>
                    <span class="badge">Celsius</span>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-5">
            <div class="card mx-auto">
                <div class="card-img-container">
                    <img src="images/bicycles.png" alt="Distancia Recorrida">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Distancia Recorrida</h5>
                    <p class="card-text">15 km</p>
                    <span class="badge">Kilómetros</span>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-5">
            <div class="card mx-auto">
                <div class="card-img-container">
                    <img src="images/bicycles.png" alt="Tiempo del Recorrido">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Tiempo del Recorrido</h5>
                    <p class="card-text">45 min</p>
                    <span class="badge">Minutos</span>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-5">
            <div class="card mx-auto">
                <div class="card-img-container">
                    <img src="images/bicycles.png" alt="Velocidad Máxima">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Velocidad Máxima</h5>
                    <p class="card-text">35 km/h</p>
                    <span class="badge">Km/h</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-5">
            <div class="card mx-auto">
                <div class="card-img-container">
                    <img src="images/bicycles.png" alt="Tiempo del Recorrido">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Tiempo del Recorrido</h5>
                    <p class="card-text">45 min</p>
                    <span class="badge">Minutos</span>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-5">
            <div class="card mx-auto">
                <div class="card-img-container">
                    <img src="images/bicycles.png" alt="Velocidad Máxima">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Velocidad Máxima</h5>
                    <p class="card-text">35 km/h</p>
                    <span class="badge">Km/h</span>
                </div>
            </div>
        </div>
    </div>
</div>