<div class="container">

    <!-- TABLA 1: USUARIOS -->
<div class="panel">
    <div class="panel-heading">
      <h2 class="panel-title">Usuarios</h2>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>Acciones</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Edad</th>
            <th>Peso</th>
            <th>Estatura</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul class="action-list">
                <li><a href="#"><i class="fa fa-edit"></i> Editar</a></li>
                <li><a href="#"><i class="fa fa-trash"></i> Eliminar</a></li>
              </ul>
            </td>
            <td>Juan Pérez</td>
            <td>jasdasdasd.com</td>
            <td>28</td>
            <td>75kg</td>
            <td>1.78m</td>
          </tr>
          <tr>
            <td>
              <ul class="action-list">
                <li><a href="#"><i class="fa fa-edit"></i> Editar</a></li>
                <li><a href="#"><i class="fa fa-trash"></i> Eliminar</a></li>
              </ul>
            </td>
            <td>María García</td>
            <td>asasd</td>
            <td>32</td>
            <td>65kg</td>
            <td>1.65m</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

