<div *ngIf="!cargando" id="content" class="container">
  <div class="cards-grid-container">
    <!-- Columna larga izquierda -->
    <div class="card card-duracion">
      <h4 class="fw-bold fs-2 text-primary">{{ datos.duracion }}</h4>
      <p class="text-muted">Duración Total</p>
    </div>

    <!-- Arriba derecha -->
    <div class="card card-entrenamientos">
      <h4 class="fw-bold fs-2 text-success">{{ datos.recorridos }}</h4>
      <p class="text-muted">Número de Entrenamientos</p>
    </div>

    <!-- Medio derecha -->
    <div class="card card-distancia">
      <h4 class="fw-bold fs-2 text-danger">{{ datos.distancia }} km</h4>
      <p class="text-muted">Distancia Total</p>
    </div>

    <!-- Tarjeta inferior ancha -->
    <div class="card card-calorias">
      <h4 class="fw-bold fs-2 text-primary">{{ datos.calorias }} kcal</h4>
      <p class="text-muted">Calorías Totales</p>
    </div>
  </div>
</div>
