<div id="content" class="container">
    <!-- Contenedor Grid que llena todo el espacio disponible -->
    <div class="cards-grid-container">
      <div class="card">
        <h4 class="fw-bold fs-2 text-primary">00:01:40</h4>
        <p class="text-muted">Duración Total</p>
      </div>
      <div class="card">
        <h4 class="fw-bold fs-2 text-success">3</h4>
        <p class="text-muted">Número de Entrenamientos</p>
      </div>
      <div class="card">
        <h4 class="fw-bold fs-2 text-danger">0.02 km</h4>
        <p class="text-muted">Distancia Total</p>
      </div>
      <div class="card">
        <h4 class="fw-bold fs-2 text-primary">1.4 kcal</h4>
        <p class="text-muted">Calorías Totales</p>
      </div>
      <div class="card">
        <h4 class="fw-bold fs-2 text-success">12.5 km/h</h4>
        <p class="text-muted">Velocidad Promedio</p>
      </div>
      <div class="card">
        <h4 class="fw-bold fs-2 text-danger">120 BPM</h4>
        <p class="text-muted">Frecuencia Cardiaca</p>
      </div>
    </div>
  </div>
  