<!-- Contenedor general -->
<div class="estadisticas-container">
  <div class="estadisticas-personalizado">
    <!-- Filtro -->
    <div *ngIf="!cargando" class="d-flex justify-content-start mb-3">
      <select class="form-select custom-select-long">
        <option value="day">Día</option>
        <option value="week">Semana</option>
        <option value="month">Mes</option>
        <option value="year">Año</option>
      </select>
    </div>

    <!-- Tabs -->
    <ul *ngIf="!cargando" class="nav nav-pills mt-3 justify-content-center gap-3" id="dataTabs">
      <li class="nav-item">
        <a
          class="nav-link px-4 py-2"
          [class.active]="selectedTab === 'distancias'"
          (click)="crearGrafica('distancias')"
          >Distancia</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link px-4 py-2"
          [class.active]="selectedTab === 'calorias'"
          (click)="crearGrafica('calorias')"
          >Calorías</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link px-4 py-2"
          [class.active]="selectedTab === 'duraciones'"
          (click)="crearGrafica('duraciones')"
          >Duración</a>
      </li>
    </ul>

    <!-- Estadística más grande -->
    

    <!-- Cartas de Información -->

    <!-- <h1 class="text-center" style="padding: 10px;">Resumen semanal</h1> -->

    <h1 class="text-center mt-4 mb-3" >
      Unidad de medida:
      <p>      
        {{ selectedTab === 'calorias' ? ' kc' : (selectedTab === 'duraciones' ? ' min' : ' m') }}
      </p> 
    </h1>


    <div *ngIf="!cargando" class="row mt-4 justify-content-center">
      <div class="col-md-3">
        <div class="card text-center p-4">
          <h4 class="fw-bold fs-2 text-primary">{{chart ? generales[selectedTab]['total'] : 0}}</h4>
          <p class="text-muted">Total</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center p-4">
          <h4 class="fw-bold fs-2 text-success">{{chart ? generales[selectedTab]['maxima'] : 0}}</h4>
          <p class="text-muted">Mejor</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center p-4">
          <h4 class="fw-bold fs-2 text-danger">{{chart ? generales[selectedTab]['promedio'] : 0}}</h4>
          <p class="text-muted">Promedio</p>
        </div>
      </div>
    </div>

    <!-- Gráfica -->
    <div style="width: 100%; height: 400px;">
      <canvas id="miGrafico"></canvas>
    </div>
  </div>
</div>
