<div class="container-personalizado" data-aos="fade-up">
    <div class="login-card">
      <div class="logo-container">
        <img src="images/logimg.png" alt="Logo" class="logo-img">
      </div>
      <div class="form-title">LOGIN</div>
  
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="input-group">
          <span class="input-icon">
            <fa-icon [icon]="faUser"></fa-icon>
          </span>
          <input 
            type="text" 
            class="input-field" 
            placeholder="Usuario" 
            name="username" 
            [(ngModel)]="username" 
            required
          >
        </div>
  
        <div class="input-group">
          <span class="input-icon">
            <fa-icon [icon]="faKey"></fa-icon>
          </span>
          <input 
            type="password" 
            class="input-field" 
            placeholder="Contraseña" 
            name="password" 
            [(ngModel)]="password" 
            required
          >
        </div>
  
        <button 
          class="btn-submit" 
          [disabled]="!loginForm.form.valid"
        >
          Iniciar Sesión
        </button>
  
        <div class="register-link">
          ¿No tienes cuenta? <a routerLink="/auth/register">Regístrate</a>
        </div>
      </form>
    </div>
  </div>