<section class="d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="card" style="max-width: 400px; width: 90%;">
      <img src="images/bicycles.png" alt="Logo" class="logo-card">
      <h2>Introduce tu código de verificación</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="code-container">
          <input type="text" maxlength="1" class="digit-input"
                 [(ngModel)]="code[0]" #input0
                 (input)="moveFocus(input1, $event)"
                 (keydown.backspace)="moveFocusBack(input0, $event)">

          <input type="text" maxlength="1" class="digit-input"
                 [(ngModel)]="code[1]" #input1
                 (input)="moveFocus(input2, $event)"
                 (keydown.backspace)="moveFocusBack(input0, $event)">

          <input type="text" maxlength="1" class="digit-input"
                 [(ngModel)]="code[2]" #input2
                 (input)="moveFocus(input3, $event)"
                 (keydown.backspace)="moveFocusBack(input1, $event)">

          <input type="text" maxlength="1" class="digit-input"
                 [(ngModel)]="code[3]" #input3
                 (input)="moveFocus(input4, $event)"
                 (keydown.backspace)="moveFocusBack(input2, $event)">

          <input type="text" maxlength="1" class="digit-input"
                 [(ngModel)]="code[4]" #input4
                 (input)="moveFocus(input5, $event)"
                 (keydown.backspace)="moveFocusBack(input3, $event)">

          <input type="text" maxlength="1" class="digit-input"
                 [(ngModel)]="code[5]" #input5
                 (keydown.backspace)="moveFocusBack(input4, $event)">
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Verificar</button>
        </div>
      </form>
    </div>
</section>
