#content {
   /* Espacio para el menú lateral */
    padding: 20px;
    flex: 1;
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: flex-start;
    min-height: 100vh; /* Altura completa de la ventana */
  }
  .container {
    max-width: 100%;
    margin-left: auto;
  }
  