<section class="footer">
    <div class="footer-basic">
        <footer>
          <div class="social"><!-- Instagram -->
            <a href="#"><i class="fab fa-instagram"></i></a>
            
            <!-- Snapchat -->
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            
            <!-- Twitter -->
            <a href="#"><i class="fab fa-x-twitter"></i></a>
            
            <!-- Facebook -->
            <a href="#"><i class="fab fa-facebook"></i></a></div>
          <ul class="list-inline">
              <li class="list-inline-item"><a href="#">Home</a></li>
              <li class="list-inline-item"><a href="#">Services</a></li>
              <li class="list-inline-item"><a href="#">About</a></li>
              <li class="list-inline-item"><a href="#">Terms</a></li>
              <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
          </ul>
          <p class="copyright">Bicycles © 2025</p>
      </footer>
  </div>
</section>