<!-- Seccion del formulario -->
<div class="wrapper" data-aos="fade-up">
  <div class="logo">
    <img src="images/image.png" alt="Logo">
  </div>
  <div class="text-center name">REGÍSTRATE</div>
  <form class="p-2 mt-3">

    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input type="text" name="firstName" [(ngModel)]="userObject.nombre" placeholder="Nombre" (input)="onInputChange()" >
    </div>

    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input type="text"  name="lastName" [(ngModel)]="userObject.apellido" placeholder="Apellidos" (input)="onInputChange()">
    </div>

    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input type="number"  name="weight" [(ngModel)]="userObject.peso" placeholder="Peso" (input)="onInputChange()">
    </div>

    <div class="form-field d-flex align-items-center">
      <span class="far fa-envelope"></span>
      <input type="email"  name="email" [(ngModel)]="userObject.email" placeholder="email" (input)="onInputChange()">
    </div>

    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input type="password" name="password" [(ngModel)]="userObject.password" placeholder="Contraseña" (input)="onInputChange()">
    </div>

    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input type="password" name="confirmPassword" [(ngModel)]="confirm_password" id="confirmPassword" placeholder="Confirmar Contraseña" (input)="onInputChange()">
    </div>

    <button class="btn mt-2" type="submit" (click)="save()" >Registrarse</button>
  </form>
  <div class="text-center fs-6 mt-2">
    <a href="#">¿Olvidaste tu contraseña?</a> o <a routerLink="/auth/login">Inicia sesión</a>
  </div>
</div>


