<div class="container">
  <!-- TABLA 2: BICICLETAS -->
  <div class="panel">
    <div class="panel-heading">
      <h2 class="panel-title text-center">Bicicletas</h2>
    </div>
    
    <div class="search-container">
      <input
        type="text"
        class="search-input"
        placeholder="Buscar por nombre..."
        [(ngModel)]="searchTerm">
      <i class="fas fa-search search-icon"></i>
    </div>

    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
            <tr>
              <th>Acciones</th>
              <th>Nombre</th>
              <th>Usuario</th>
            </tr>
          </thead>
          
          <tbody>
            <tr *ngFor="let bici of bicisFiltradas">
              <td>
                <div class="btn-group" role="group" aria-label="Acciones">
                  <button style="margin-right: 8px;" type="button" class="btn btn-warning btn-sm" (click)="openModalEditar(bici)">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm" (click)="openModalEliminar(bici)">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </td>
              <td>{{ bici.nombre }}</td>
              <td>{{ bici.usuario.nombre }} {{ bici.usuario.apellido }}</td>
            </tr>
          </tbody>
        </table>

        <!-- Paginator -->
        <mat-paginator
          [length]="length"
          [pageSize]="pageSize"
          [pageIndex]="pageIndex"
          [hidePageSize]="true"
          (page)="onPageChange($event)"
          showFirstLastButtons>
        </mat-paginator>
      
      </div>
    </div>
  </div>
</div>

<!-- Fondo oscuro para el modal -->
<div #overlay id="modalOverlay" class="overlay" (click)="cerrarModal()"></div>

<!-- Modal Editar Bicicleta -->
<div #modalEditar class="modal-overlay">
  <div class="modal-content">
    <h2>Editar Bicicleta</h2>
    <input *ngIf="bicicletaSeleccionada" type="text" [(ngModel)]="nuevoNombre" class="modal-input" />
    <small class="text-danger" *ngIf="errores?.nombre">
      {{ errores.nombre[0] }}
    </small>
    <div class="modal-buttons">
      <button class="cancel-btn" (click)="cerrarModal()">Cancelar</button>
      <button class="confirm-btn" (click)="editarBicicleta()" [disabled]="isLoading">
        <span *ngIf="isLoading" class="spinner"></span>
        Guardar
      </button>
    </div>
  </div>
</div>

<!-- Modal Eliminar Bicicleta -->
<div #modalEliminar class="modal-overlay">
  <div class="modal-content">
    <h2>¿Eliminar Bicicleta?</h2>
    <p class="modal-text">¿Estás seguro de que quieres eliminar esta bicicleta?</p>
    <div class="modal-buttons">
      <button #cancelar class="cancel-btn" (click)="cerrarModal()">Cancelar</button>
      <button #guardar class="confirm-btn" (click)="eliminarBicicleta()" [disabled]="isLoading">
        <span *ngIf="isLoading" class="spinner"></span>
        Eliminar
      </button>
    </div>
  </div>
</div>