<div class="container">

  <!-- TABLA 2: BICICLETAS -->
  <div class="panel">
    <div class="panel-heading">
      <h2 class="panel-title">Bicicletas</h2>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>Acciones</th>
            <th>Nombre de la Bici</th>
            <th>Usuario</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul class="action-list">
                <li><a href="#"><i class="fa fa-edit"></i> Editar</a></li>
                <li><a href="#"><i class="fa fa-trash"></i> Eliminar</a></li>
              </ul>
            </td>
            <td>MTB Pro</td>
            <td>Juan Pérez</td>
          </tr>
          <tr>
            <td>
              <ul class="action-list">
                <li><a href="#"><i class="fa fa-edit"></i> Editar</a></li>
                <li><a href="#"><i class="fa fa-trash"></i> Eliminar</a></li>
              </ul>
            </td>
            <td>Urban Ride</td>
            <td>María García</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>