<div class="container">
  <div class="card shadow-sm mb-4">
    <div class="card-header" style="background-color: #2794ff; color: #fff; border-radius: 10px 10px 0 0;">
      <h3 class="m-0 py-2">Perfil</h3>
    </div>
    <form [formGroup]="perfilForm" (ngSubmit)="guardarPerfil()" novalidate class="p-4">
      <div class="row">
        <div class="col-md-6 mb-3">
          <input formControlName="nombre" class="form-control" placeholder="Nombre" />
        </div>

        <div class="col-md-6 mb-3">
          <input formControlName="apellido" class="form-control" placeholder="Apellido" />
        </div>

        <div class="col-md-6 mb-3">
          <input type="email" formControlName="email" class="form-control" placeholder="Email" />
        </div>

        <div class="col-md-3 mb-3">
          <input type="number" step="0.01" formControlName="peso" class="form-control" placeholder="Peso (kg)" />
        </div>

        <div class="col-md-3 mb-3">
          <input type="number" step="0.01" formControlName="estatura" class="form-control" placeholder="Estatura (m)" />
        </div>
      </div>

      <button type="submit" class="btn btn-save">Guardar Perfil</button>
    </form>
  </div>
</div>
