/* * {
    background-color: #eaf6ff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
} */

.content {
    margin-left: 200px;
    padding: 20px;
    flex: 1;
    transition: margin-left 0.4s ease-in-out;
}