<div class="container">

    <!-- TABLA 3: RECORRIDOS -->
    <div class="panel">
        <div class="panel-heading">
            <h2 class="panel-title">Recorridos</h2>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
            <table class="table">
            <thead>
                <tr>
                <th>Acciones</th>
                <th>Usuario</th>
                <th>Bicicleta</th>
                <th>Distancia</th>
                <th>Tiempo</th>
                <th>Calorías</th>
                <th>Velocidad Promedio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>
                    <ul class="action-list">
                    <li><a href="#"><i class="fa fa-edit"></i> Editar</a></li>
                    <li><a href="#"><i class="fa fa-trash"></i> Eliminar</a></li>
                    </ul>
                </td>
                <td>Juan Pérez</td>
                <td>MTB Pro</td>
                <td>15 km</td>
                <td>45 min</td>
                <td>350</td>
                <td>20 km/h</td>
                </tr>
                <tr>
                <td>
                    <ul class="action-list">
                    <li><a href="#"><i class="fa fa-edit"></i> Editar</a></li>
                    <li><a href="#"><i class="fa fa-trash"></i> Eliminar</a></li>
                    </ul>
                </td>
                <td>María García</td>
                <td>Urban Ride</td>
                <td>10 km</td>
                <td>30 min</td>
                <td>220</td>
                <td>20 km/h</td>
                </tr>
            </tbody>
            </table>
            </div>
        </div>
        </div>


</div>