/* You can add global styles to this file, and also import other style files */
@import "aos/dist/aos.css";

.custom-swal-popup {
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0px 0px 15px rgba(48, 133, 214, 0.6); /* Sombra azul */
    border: 2px solid #3085d6; /* Borde azul */
    padding: 20px; /* Espaciado interno */
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Quitar el icono del ojo en los inputs password */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none !important;
}

input[type="password"]::-webkit-contacts-auto-fill-button {
  display: none !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
